{% extends "base.html" %}
{% include "nav.html" %}
{% block content%}
<div class="container">
  
<div class="jumbotron jumbotron-fluid" style="text-align:center;">
            <form method="POST" class="form-inline">
                    {{form.film(class="form-control mr-sm-2" ,placeholder="Type in Film/Series/Cartoons" )}}
                    {{form.submit(class="btn btn-outline-success my-2 my-sm-0")}}
                  </form>
                              
                  
    
</div>
</div>

       
{% endblock content %}      

