{% block navbar %}
<div class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Film Pro</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href='{{url_for("film")}}'>Home</a></li>
              <li class="dropdown"><a class="dropdown-toggle" id="James" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">library <span class="caret"></span></a>
              <ul class="dropdown-menu" >
                  <li><a href="{{url_for('cartooN')}}">Cartoons</a></li>
                  <li><a href="{{url_for('serieS')}}">Series</a></li>
                  <li><a href="{{url_for('filM')}}">Films</a></li>
                </ul></li>
              <li ><a href="#">Help</a></li>
            </ul>
          </div>
        </nav>
        </div>

        
{% endblock %}
